platform:
  filename: "image_0.raw"
  disable_progress_bar: false
  leave_pbar_string: false
  render_3a: false
  save_format: png

sensor_info:
  bayer_pattern: "grbg"
  hdr_bit_depth: 24
  bit_depth: 12
  width: 2880
  height: 1860
  output_bit_depth: 16
  sensor: "triton_490"
  endian_type: "ieee-be"
  data_format: "uint32"
  embedded_rows_top: 0
  embedded_rows_bottom: 0

companding:
  is_enable: false
  is_debug: true
  is_save: true

crop:
  is_enable: false
  is_debug: true
  is_save: true

dead_pixel_correction: 
  is_enable: true
  dp_threshold: 64
  is_debug: true
  is_save: true

black_level_correction:
  is_enable: true
  r_offset: 16
  gr_offset: 16
  gb_offset: 16
  b_offset: 16
  is_linear: true
  r_sat: 4095
  gr_sat: 4095
  gb_sat: 4095
  b_sat: 4095
  is_save: true

oecf:
  is_enable: false
  is_save: true

digital_gain:
  is_debug: true
  is_auto: false
  is_enable: true
  gain_array: [0.03125, 0.0625, 0.125, 0.25, 0.5, 1, 2, 4, 6, 8, 10, 12, 16, 32, 64]
  current_gain: 6  # Use lowest gain for dark scene
  ae_feedback: 0
  is_save: true

lens_shading_correction:
  is_enable: false
  is_save: true
  r_k1: 0.15
  r_k2: 0.08
  gr_k1: 0.12
  gr_k2: 0.06
  gb_k1: 0.12
  gb_k2: 0.06
  b_k1: 0.15
  b_k2: 0.08

bayer_noise_reduction:
  is_enable: true
  filter_window: 7
  r_std_dev_s: 1.2
  r_std_dev_r: 0.2
  g_std_dev_s: 1.2
  g_std_dev_r: 0.2
  b_std_dev_s: 1.2
  b_std_dev_r: 0.2
  is_save: true

auto_white_balance:
  is_enable: false
  is_debug: true
  is_save: true

white_balance:
  is_enable: true
  is_debug: true
  is_auto: false
  r_gain: 1.5  # Boost red for brake lights
  b_gain: 0.8  # Reduce blue
  is_save: true

demosaic:
  is_save: true

color_correction_matrix:
  is_enable: true
  corrected_red: [1.8, -0.3, -0.2]
  corrected_green: [-0.2, 1.6, -0.1]
  corrected_blue: [-0.1, -0.3, 1.4]
  is_save: true

gamma_correction:
  is_enable: true
  is_save: true
  curve: 'gamma'
  gamma: 2.2

auto_exposure:
  is_enable: false
  is_debug: true
  center_illuminance: 1024  # Lower target for dark scene
  histogram_skewness: 0.9

hdr_durand:
  is_enable: true
  is_save: True
  is_debug: true
  sigma_space: 6.0
  sigma_color: 6.0
  contrast_factor: 1.0  # Reduced for dark scenes
  downsample_factor: 4

color_space_conversion: 
  conv_standard: 2
  is_save: true

color_saturation_enhancement:
  is_enable: true
  saturation_gain: 1.0  # Reduced for natural colors
  is_save: true

ldci:
  is_enable: true
  clip_limit: 1.0  # Reduced for dark scenes
  wind: 64
  is_save: true

sharpen:
  is_enable: true  # Disabled to reduce noise
  sharpen_sigma: 5
  sharpen_strength: 1
  is_save: true

noise_reduction_2d:
  is_enable: true
  is_debug: true
  filter_window: 5
  sigma: 2.0
  is_save: true

2d_noise_reduction:
  is_enable: true
  window_size: 9
  patch_size: 5
  wts: 10
  is_save: true

rgb_conversion:
  is_enable: true
  is_save: true

scale:
  is_enable: true
  is_debug: true
  new_width: 2880
  new_height: 1860   
  is_hardware: false
  algorithm: "Bilinear"
  upscale_method: "Bilinear"
  downscale_method: "Bilinear"  
  is_save: true

yuv_conversion_format:
  is_enable: true
  conv_type: '444'
  is_save: true
 
      #Imran Modifications 
tone_mapping:
  # The conversion wont run if csc is false
  is_enable: true
  tone_mapping_before_demosaic: yes
  tone_mapper: 'durand'
  is_save: false
